# Local .terraform directories
.terraform/
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info

# Terraform lock file
.terraform.lock.hcl

# Crash log files
crash.log
crash.*.log

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# CLI configuration files
.terraformrc
terraform.rc

# Optional: plan files
*tfplan*
